body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

.steps {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 600px;
    margin: 20px 0;
    background: #e5e5e5;
    padding: 10px;
    border-radius: 25px;
}

.step {
    padding: 10px 20px;
    background-color: #76DE50;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    flex: 1;
    margin: 0 5px;
}

.step.inactive {
    background-color: #d3f1d3;
}

.search-container {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    width: 90%;
    max-width: 600px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
}

.search-bar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #76DE50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #66c546;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.domain-options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    background: #e5e5e5;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
}

.domain-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.domain-option span {
    flex: 1;
    font-weight: bold;
}

.domain-option select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
}

.domain-option button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #76DE50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.domain-option button:hover {
    background-color: #66c546;
}

.next-button {
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #76DE50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.next-button:hover {
    background-color: #66c546;
}