body {
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 50px;
}
 .container-fluid {
    margin: auto;
    justify-items: center;

 }

.row {
    background-color: rgb(237, 237, 237);
    scale: 70%;
}

.bg-lightgreen {
    background-color: rgb(118, 222, 80);
    
}

.bg-lightgreen2 {
    background-color: rgb(118, 222, 80);
    opacity: 35%;
}

.search-bar {
    padding: 10px;
    background-color: rgb(237, 237, 237);
}

.error {
    color: rgb(206, 66, 66);
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #76DE50;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}


.domain-options {
    background-color: rgb(237, 237, 237);
    padding: 15px;
    margin-top: 50px;
    width: 50%;
    

}

.domain-option {

    padding: 10px;
    margin: 10px;

}

.search-bar-text, .select-options {

    height: 40px;
    border: none;
}




.info-container {
    background-color: rgb(237, 237, 237);
    height: auto;
    width: 300px;


}

.payment-container {
    background-color: rgb(246 246 246);
    height: 300px;
    width: 300px;
}


.custom-text {
    border: none;
    margin: 15px;
    width: auto;
}

.button-back {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(205 205 205);
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.checkbox {
    margin-right: 30px;
}

.span {
    background-color: white;
    margin: 10px;
    padding: 10px;

}