body {
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 50px;
}
 .container-fluid {
    margin: auto;
    justify-items: center;

 }

.row {
    background-color: rgb(237, 237, 237);
    scale: 80%;
}

.bg-lightgreen {
    background-color: rgb(118, 222, 80);
    
}

.bg-lightgreen2 {
    background-color: rgb(118, 222, 80);
    opacity: 35%;
}

.search-bar {
    padding: 10px;
    background-color: rgb(237, 237, 237);
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #76DE50;
    color: white;
    cursor: pointer;
}


.error {
    color: rgb(206, 66, 66);
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #76DE50;
    color: white;
    cursor: pointer;
}

.domain-options button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #76DE50;
    color: white;
    cursor: pointer;
}

.domain-options {
    background-color: rgb(237, 237, 237);
    padding: 15px;
    margin-top: 50px;
}

.domain-option {
    background-color: white;
    padding: 10px;
    margin: 10px;
}
